
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

<ul class="nav bg-black justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/product">Produit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/category">Categorie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Login</a>
  </li>
</ul>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class ="H1home">
    <h1>Bienvenue</h1>
</div>

<div class= "H2home">
<h2>Gestion de produits</h2>
</div>

<div id ="image">
<img src="https://zupimages.net/up/22/08/0urb.png" alt="image">
</div>

 
<footer class="text-center text-white fixed-bottom" style="background-color: #000000;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://simplon.co/">Simplon.co</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}
