{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<ul class="nav bg-black justify-content-center">
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
</ul>
<div class ="mx-auto" style ="width:200px; margin-top:5em;">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-dark">Register</button>
    {{ form_end(registrationForm) }}
    </div>

    <footer class="text-center text-white fixed-bottom" style="background-color: #000000;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://simplon.co/">Simplon.co</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
