

#image {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  height: 15rem;
}

.H1home {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color:black
}

.H2home {
    display: flex;
    justify-content: center;
    color:black
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(59, 52, 52) 50%, rgb(160, 64, 64) 50%);
    bottom: 0;
    left: -50%;
    opacity: .1;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
  .bg3 {
    animation-duration: 5s;
  }
  
  
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
  
    100% {
      transform: translateX(25%);
    }
  }
  
  