{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<ul class="nav bg-black justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/product">Produit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/category">Categorie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Login</a>
  </li>
</ul>
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="mobile-hiden"> Description</th>
                <th class="mobile-hiden">Quantity</th>
                <th>Price</th>
                <th class="mobile-hiden">Datecreate</th>
                <th class="mobile-hiden">Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td class="mobile-hiden">{{ product.description }}</td>
                <td class="mobile-hiden">{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td class="mobile-hiden">{{ product.datecreate ? product.datecreate|date('Y-m-d') : '' }}</td>
                {% for categori in category %}
                 <td class="mobile-hiden">{{ categori.name }}</td>
                 {% endfor %}
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>

    <footer class="text-center text-white fixed-bottom" style="background-color: #000000;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://simplon.co/">Simplon.co</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}

